<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Funcionários</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="mb-0">Cadastro de Funcionário</h4>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                            <div class="d-grid mt-3">
                                <input type="submit" class="btn btn-success" value="Cadastrar">
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>
</html>
